@use '../abstracts/variables';

.card{
    min-height: 300px;

    padding-bottom: 10rem !important;
    gap: 2rem;

    .sub{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8rem;
        padding: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000001a;

        color: rgba(0, 0, 0, 0.05);

        font-weight: 900;
        font-size: 5rem;

        span{
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
    }

    .image{
        display: none;
        position: relative;
        width: 120px;
        height: 120px;

        overflow: hidden;
        border-radius: 50%;

        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.visible {
            display: block;
        }
    }

    .detail{
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: white;

        div{
            display: none;
            align-items: center;
            justify-items: center;
            gap: 10px;

            &.visible {
                display: flex;
            }

            svg{
                width: 2.5rem;
                color: #ffffffbb;
            }
        }

        h3{
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
}
