$backgroundcolor: rgb(8, 8, 8);
$backgroundcolor-trans: rgba($backgroundcolor, 0.8);
$backgroundcolor-light: rgb(16, 16, 16);
$backgroundcolor-lighter: rgb(24, 24, 24);
$backgroundcolor-lightest: rgb(32, 32, 32);
$backgroundcolor-accent: rgb(90, 90, 100);

$foregroundcolor: rgb(255, 255, 255);
$foregroundcolor-trans: rgba($foregroundcolor, 0.8);
$foregroundcolor-light: rgb(247, 247, 247);
$foregroundcolor-lighter: rgb(239, 239, 239);
$foregroundcolor-lightest: rgb(231, 231, 231);

$shadow-color: 0deg 0% 0%;
$shadow-color-light: rgb(80, 80, 80);

$spacer-height: 60px;
$divider-height: 3px;

$nav-width: 250px;

$duration-default: 270ms;
$transition-mode: ease-in-out;

$box-shadow: 0 0 20px var(--shadow-color);

:root {
    --backgroundcolor: #{$backgroundcolor};
    --backgroundcolor-trans: #{$backgroundcolor-trans};
    --backgroundcolor-light: #{$backgroundcolor-light};
    --backgroundcolor-lighter: #{$backgroundcolor-lighter};
    --backgroundcolor-accent: #{$backgroundcolor-accent};

    --foregroundcolor: #{$foregroundcolor};
    --foregroundcolor-light: #{$foregroundcolor-light};
    --foregroundcolor-lighter: #{$foregroundcolor-lighter};

    --shadow-color: #{$shadow-color};

    // Shadow Palette Generator:
    // https://www.joshwcomeau.com/shadow-palette/
    --shadow-elevation-low:
    0.6px 0.7px 1px hsl(var(--shadow-color) / 0.12),
    1.1px 1.2px 1.8px -1.4px hsl(var(--shadow-color) / 0.11),
    2.6px 3px 4.3px -2.7px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium:
    0.6px 0.7px 1px hsl(var(--shadow-color) / 0.1),
    1.6px 1.9px 2.7px -0.7px hsl(var(--shadow-color) / 0.1),
    3.3px 3.8px 5.5px -1.4px hsl(var(--shadow-color) / 0.09),
    6.7px 7.8px 11.2px -2.1px hsl(var(--shadow-color) / 0.09),
    13.1px 15.2px 21.8px -2.7px hsl(var(--shadow-color) / 0.09);
  --shadow-elevation-high:
    0.6px 0.7px 1px hsl(var(--shadow-color) / 0.1),
    3.2px 3.7px 5.3px -0.3px hsl(var(--shadow-color) / 0.1),
    5.9px 6.8px 9.8px -0.7px hsl(var(--shadow-color) / 0.1),
    9.4px 10.9px 15.7px -1px hsl(var(--shadow-color) / 0.1),
    14.6px 16.9px 24.3px -1.4px hsl(var(--shadow-color) / 0.1),
    22.1px 25.7px 36.9px -1.7px hsl(var(--shadow-color) / 0.09),
    32.9px 38.2px 54.8px -2.1px hsl(var(--shadow-color) / 0.09),
    47.7px 55.3px 79.4px -2.4px hsl(var(--shadow-color) / 0.09),
    67.2px 77.9px 111.9px -2.7px hsl(var(--shadow-color) / 0.09);
}
