.page > div{
    position: relative;

    width: 50rem;
    min-width: 20rem;

    margin: 1rem;
    padding: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: rgb(64 64 64 / 45%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    @supports ( not((-webkit-backdrop-filter: none) or (backdrop-filter: none))) {
        background-color: rgb(64 64 64 / 85%);
    }

    box-shadow: var(--shadow-elevation-high);
    // box-shadow: 0 25px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
    //border-top: 1px solid rgba(255, 255, 255, 0.5);

    overflow: hidden;

    transition: background 1s;

    pointer-events: auto; 

    &:hover{
        background: rgb(64 64 64 / 65%);
    }
}
