.foot{
    max-width: 50rem;
    margin: 0 auto;
    
     > div{
        margin: 0 1rem;

        padding: 0 2rem;


        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        background-color: rgb(64 64 64 / 45%);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        @supports ( not((-webkit-backdrop-filter: none) or (backdrop-filter: none))) {
            background-color: rgb(64 64 64 / 85%);
        }

        box-shadow: var(--shadow-elevation-high);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        overflow: hidden;

        transition: background 1s;

        pointer-events: auto; 

        &:hover{
            background: rgb(64 64 64 / 65%);
        }

        a{
            display: flex;
            cursor: pointer;
            gap: 10px;
            padding: 2rem;


            svg{
                width: 2.5rem;
                color: #ffffffbb;
            }
        }
    }
}
